html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

#body-container {
    min-height: 100%;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
    background-color: #90B2CB;
}

main {
    padding-bottom: 400px; /* Height of the footer */
}

.main-container {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-bg {
    background-color: #90B2CB;
}

#intro {
    background-image: linear-gradient(235deg, #90B2CB, #257cb9, #0a0236);
}

.hero-intro {
    max-width: 80%;
    padding: 5rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.ifeanyi_4 {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.hello-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.white-text {
    color: #ffffff;
}

.red-text {
    color: rgb(228, 100, 10);
    font-weight: 500;
}

.yellow-text {
    color: rgb(224, 240, 9);
    font-weight: 600;
}

.small-text {
    font-size: 0.8rem;
    margin: 0;
}

.intro-text {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.section-header {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 0;
}

.section-subheader {
    font-size: 2.0rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.section-content {
    width: 80%;
    margin-bottom: 3rem;
}

.secton-information {
    height: auto;
    min-width: 80%;
    padding: 2rem 0 2rem 0;
}

.relevant-information {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tech-information {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#skills {
    background-color: #2f7fa4;
    background-image: linear-gradient(85deg, #076e9e, #05207a, #0a0236);
}

.skill-card {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #0b5070;
    /* box-shadow: 2px 2px 30px #2f7fa4; */
    background-color: #2f7fa4;
}

.skill-group {
    font-size: 1.65rem;
    font-weight: 500;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.experience-card {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #b1cee4;
    box-shadow: 5px 5px 20px #e3e3e3;
}

.exp-logos {
    height: auto;
    max-height: 17rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.company-name {
    font-size: 1.65rem;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.section-divide {
    border: none;
    height: 1px;
    background-color: #90B2CB;
}

.exp-divide {
    border: none;
    height: 1px;
    background-color: #e3e3e3;
}

.exp-text {
    font-size: 1.2rem;
    margin: 0.2rem 0 0.1rem 0;
}

.exp-role {
    font-weight: 500;
}

.link-resume {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;         /* Height of the footer */
    background: #90B2CB;
}

@media (max-width: 680px) {

    html, body {
        font-size: 12px;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .hero-intro {
        max-width: 80%;
        padding: 5rem 0 5rem 0;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hello-intro {
        order: 2;
    }

    .name-intro {
        display: none;
    }

    .small-name-intro {
        font-size: 6rem;
        font-weight: 600;
        text-shadow: 10px 10px 30px #000;
        margin: 0.2rem 0;
    }

    .intro-text {
        font-size: 2.5rem;
    }

    .section-header {
        font-size: 2.5rem;
    }

    .relevant-information {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .tech-information {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .company-name {
        text-align: center;
    }

}

@media (min-width: 1440px) {
    .name-intro {
        font-size: 7rem;
        font-weight: 600;
        text-shadow: 10px 10px 30px #000;
        margin: 0.2rem 0;
    }

    .small-name-intro {
        display: none;
    }
}
